<!-- This is the profile of each user -->

<!-- profile.handlebars -->
<section id="profile-info">
    
    <!-- Include profile information here -->
    <p><h2>Welcome, {{ name }}</h2></p>
</section>


    <!-- Delete and Edit buttons for stories -->
    {{#if storys.length}}
    <section id="delete-form">
        <h2>Delete or Edit Stories</h2>

        <div class="col-md-6 story-list">
            <h3>Current Story:</h3>
            {{#each storys as |story|}}
            <div class="row mb-2">
                <div class="col-md-8">
                    <h4><a href="/story/{{ story.id }}">{{ story.title }}</a></h4>
                    </div>
                <div class="col-md-4">
                <button class="btn btn-sm btn-danger" data-id="{{story.id}}">DELETE</button>
                </div>
                    <!-- Add edit button here -->
                    <a href="/edit-story/{{ story.id }}" class="btn btn-sm btn-primary">EDIT</a>
                </div>
            </div>
            {{/each}}
        </div>
    </section>
    {{/if}}
</section>


{{!-- <section id="favorite-stories">
    <h2>Favorite Stories</h2>

    <!-- Display favorite stories here -->
    {{#each user.favoriteStories}}
    <div class="story">
        <h3>{{ this.title }}</h3>
        <p>{{ this.content }}</p>
    </div>
    {{/each}}
</section> --}}



<section id="bio-form">
    <h2>About Me</h2>
    <!-- Include bio form here -->
    <form action="/save-bio" method="POST">

        <label for="about-me">About Me:</label><br>
        
        <textarea id="about-me" name="about-me" rows="4" cols="50" required></textarea><br><br>
        <button type="submit">Save</button>
    </form>
</section>

<script src="./js/profilePage.js"></script>