<section id="write-form">
    <h2>Write A Story</h2>
    
    <form action="/api/posts" method="POST">

        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" required><br><br>

        <label for="story_content">Content:</label><br>
        <textarea id="content" name="story_content" rows="10" cols="50" required></textarea><br><br>

    <h1>Explore A Tale</h1>

    <label for="theme">Pick A Theme:</label><br>
    <select id="theme" name="theme">

    <option value="fantasy">Fantasy</option>
    <option value="mystery">Mystery</option>
    <option value="romance">Romance</option>
    <option value="sci-fi">Science Fiction</option>
    <option value="historical">Historical</option>
    <option value="thriller">Thriller</option>
    <option value="horror">Horror</option>
    <option value="adventure">Adventure</option>
    <option value="comedy">Comedy</option>
    <option value="action">Action</option>
    <option value="poetry">Poetry</option>
    <option value="bedtime">Bedtime Stories</option>
    <option value="children">Children's Stories</option>
    <option value="fairy-tale">Fairy Tales</option>
    <option value="mythology">Mythology</option>
    <option value="magic">Magic</option>
    <option value="superhero">Superhero</option>
    <option value="space">Space Adventures</option>
    <option value="animal">Animal Tales</option>
    <option value="friendship">Friendship</option>
    <option value="legends">Legends and Myths</option>
    <option value="conspiracy">Conspiracy</option>
    <option value="sports">Sports</option>
    <option value="cooking">Cooking</option>
    <option value="crafting">Crafting</option>
    <option value="gardening">Gardening</option>
    <option value="inter-racial-romance">Interracial Romance</option>
    <option value="billionaire-romance">Billionaire Romance</option>
    <option value="office-romance">Office Romance</option>

        </select><br><br>
        <button type="submit">Submit Story</button>
    </form>

    
<script src="/js/create-story.js"></script>




{{!-- <div class="story">
    <h2>{{ story.title }}</h2>
    <p>{{ story.content }}</p>
    <p>Author: {{ story.author }}</p>
    <p>Theme: {{ story.theme }}</p>
    <p>Published on: {{ formatDate story.date }}</p>
</div> --}}